div {
  font-family: Trebuchet MS;
  font-size: 22px;
  text-align: center;
  color: white;
  background-color: #4666FF;
}
article{
  font-family: Trebuchet MS;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #4666FF;
}
h4 {
  font-family: Trebuchet MS;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: #4666FF
}
.SubSection {
  font-family: Trebuchet MS;
  color: white;
  background-color: #4666FF; 
}
body {
  background-color: #4666FF;
}
a {
  color: pink;
}
