div{
  font-family: Trebuchet MS;
  text-align: center;
  font-size: 18px;
  color: black;
  background-color: #a0ddff;
  border-style: solid;
  padding: 8px;
  border-radius: 8px;
  max-width: 100%;
}
#email{
  font-family: Trebuchet MS;
  text-align: center;
  font-size: 16px;
  color: Blue;
}
article{
  font-family: Trebuchet MS;
  text-align: center;
  font-size: 16px;
  color: black;
  background-color: #a0ddff;
  border-style: double;
  border-radius: 8px;
  margin: 5px;
  margin-left: 240px;
  margin-right: 230px; 
  padding-left: 10px;
  padding-right: 10px;
  max-width: 80%;
}
.Amazon{
  height: 100%;
  width: auto;
  max-width: 100%;
}
.SubSection {
  font-family: Trebuchet MS;
  font-size: 18px;
  text-decoration: underline;
  color: black;
  align: center;
  background-color: #a0ddff;
}
body {
  background-color: #fefbea ;
  margin: 25px;
  max-width:100%;
}
a {
  color: blue;
  font-family: Trebuchet MS;
  font-size: 16px;
  max-width: 80%;
}
.sidenav {
  height: 70%; 
  width: 205px; 
  position: absolute;
  top: 120px;
  left: 30px;
  border-style: double;
  background-color: #a0ddff;
  overflow-x: hidden;
  padding-right: 10px;
  align: Center;
  max-height: 80%;
}
.Skills{
  text-align: left;
}
